<div class="card text-center">
  <div class="card-header">
    This is the current ozone air quaility:
  </div>
  <div class="card-body <%= @api_color %>">
    <h2 class="card-title"><%= @final_output %></h2>
    <p><%= @api_message %></p>
  </div>
  <div class="card-footer text-muted">
    Reload your web browser to update the reading...
  </div>
</div>